<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bfa8f6">  <td>23/10/31 17:28:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC2.executor()[pri:0, instance:testclasspackage.Get_TC2@36b4091c]">executor</td> 
  <td>main@816798571</td>   <td></td> </tr>
<tr bgcolor="6a85c4">  <td>23/10/31 17:28:45</td>   <td>1993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.executor()[pri:0, instance:testclasspackage.Post_TC1@4671115f]">executor</td> 
  <td>main@816798571</td>   <td></td> </tr>
<tr bgcolor="99686d">  <td>23/10/31 17:28:48</td>   <td>4317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC3.executor()[pri:0, instance:testclasspackage.Put_TC3@36cda2c2]">executor</td> 
  <td>main@816798571</td>   <td></td> </tr>
<tr bgcolor="899890">  <td>23/10/31 17:28:34</td>   <td>-9259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC4.executor()[pri:0, instance:testclasspackage.Patch_TC4@7922d892]">executor</td> 
  <td>main@816798571</td>   <td></td> </tr>
</table>
